h2#heading Home Listings
.row#searchBar
  .col-xs-6
    .form-group
      label(for='mapZoom') Please enter a City, State, or County to search listings.
      input(type='text' ng-model='query' placeholder='City/State/Zip' autofocus='true').form-control
  .col-xs-2
    label(for='mapZoom') Search
    button.btn.btn-danger(ng-click='search(query)').form-control: i.fa.fa-search
.row
  .col-xs-6
  .col-xs-2
.row
  .col-xs-8
    #map
  .col-xs-4
    form(name='listingForm', novalidate)
      .form-group
        h2 Active Listings:
      .form-group
        #cardContainer.col-xs-6(ng-repeat='listing in listings' ng-mouseenter='bounceMarker(listing)' ng-mouseleave='bounceMarker(listing)')
          img.img-responsive.img-thumbnail#photoList(ng-src='{{listing.picture}}')
          #cardInfo Address: {{listing.address}}
          #cardInfo Price: {{listing.price | currency}}
          #cardInfo Square Feet: {{listing.sqft}}
          #cardInfo BedRooms: {{listing.bedrooms}}
          #cardInfo BathRooms: {{listing.bathrooms}}
          btn.btn-sm.btn-success(ng-click='viewUser(listing.userId)').glyphicon.glyphicon-user Visit Profile
